#second { background-color: #FFFFFF; min-height: 500px;}
#second .inner { padding: 12px 0; }
#second .column { float: left;  padding: 24px; box-sizing: border-box; }
#second .column img { max-width: 100%; }
#second .column.config { width: unset; min-width: 20%; padding: 20px 0 0 30px; font-size: 15px; line-height: 1.2em; color: #c13c5d; }
#second .column.col_table { width: unset; min-width: 80%;  font-size: 15px; line-height: 1.2em; }
.white p.caption, .white .lSide, .white .rSide {text-align: center; }
.review p.author {margin: 5px;}
ul.pagination {
    margin: 0;
    margin-left: 50%;
    margin-top: 4%;
    padding: 4px;
}
ul.pagination li {
    display: inline;

    margin-right: 5px;
    padding: 5px;

}
ul.pagination li a{
    display: inline-block;
    margin-top: 8px;
    padding: 0 16px;
    background-color: #f8f8f8;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.searchform{
    display: inline-block;
    vertical-align: middle;
    float:right;
}
#resSearch{
    text-align: center;
    background-color: #FFFFFF;
    min-height: 0px;
    width:20%;
}
#mask {
    background-color:rgba(0,0,0,.4);
    height:100%;
    position:fixed;
    display: none;
    width:100%;
    top:0;
    left:0;
}
.table .table{
    background-color: #ffd285;
}
input, textarea, .uneditable-input{
    width: auto;
}
.p{
    position: relative;
    bottom: 0px;
}
#wrapper .inner{
    padding: 10px;
}
#wrapper .header{
    background-color: #3bc9d7;
    display: table-cell;
    vertical-align: middle;
    width: 200%;
    height: 50px;
    padding: 0 20px;
    color: #fff;
    margin-top: 5%;
}
.header p{
    padding-bottom: 0;
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 400;
}
.header p.caption{
    text-transform: uppercase;
    font-size: 40px;
    line-height: 35px;
    padding-bottom: 12px;
    font-weight: 800;
}
.table th, .table td {
    background: #f8f8f8 url(../../img/bg-cell.png) right top repeat-y;
}
.list-group-item{
    background-color: #f8f8f8;
}
.list-group-item.active,.list-group-item.active:hover,.pagination>.active>a,.pagination>.active>a:hover{
    background-color: #3bc9d7;
}
/* ----- Hover effects are enabled only for Desktop version ----- */
@media screen and (max-width: 1024px) {
    #second .column.col_table {
        margin-right: 10%;
        float: right;
    }
    #second .column.config { width: 50%;}
    #second .list-group{margin-left:20px; float:left; min-width:20%;}
}

@media screen and (max-width: 524px) {
    #second .column.col_table {
        float: left;
    }
    .p{
        float: left;
    }
    ul.pagination{
        margin-left: 0;
    }
    .col_table th:nth-child(n+3), .col_table tbody td:nth-child(n+3)
    {
        display: none;
    }
}